In [7]:
import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains
from pyspark import SparkConf
from pyspark.sql.functions import when

In [13]:
spark = SparkSession.builder.appName('data_analysis').getOrCreate()

temperature_df = spark.read.option("header","True").csv("/Github_repo/Data-Engineering/kafka-spark-streaming/data/city_temperature.csv")
temperature_df.printSchema()
temperature_df.show()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- State: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Day: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- AvgTemperature: string (nullable = true)

+------+-------+-----+-------+-----+---+----+--------------+
|Region|Country|State|   City|Month|Day|Year|AvgTemperature|
+------+-------+-----+-------+-----+---+----+--------------+
|Africa|Algeria| null|Algiers|    1|  1|1995|          64.2|
|Africa|Algeria| null|Algiers|    1|  2|1995|          49.4|
|Africa|Algeria| null|Algiers|    1|  3|1995|          48.8|
|Africa|Algeria| null|Algiers|    1|  4|1995|          46.4|
|Africa|Algeria| null|Algiers|    1|  5|1995|          47.9|
|Africa|Algeria| null|Algiers|    1|  6|1995|          48.7|
|Africa|Algeria| null|Algiers|    1|  7|1995|          48.9|
|Africa|Algeria| null|Algiers|    1|  8|1995|          49.1|
|Africa|Algeria| null|Algiers|    1|  9|1995|          49.0|
|Africa|Algeria| null|Algiers|    1| 10|1995|          51.9|
|Africa|Algeria| null|Algiers|    1| 11|1995|          51.7|
|Africa|Algeria| null|Algiers|    1| 12|1995|          51.3|
|Africa|Algeria| null|Algiers|    1| 13|1995|          47.0|
|Africa|Algeria| null|Algiers|    1| 14|1995|          46.9|
|Africa|Algeria| null|Algiers|    1| 15|1995|          47.5|
|Africa|Algeria| null|Algiers|    1| 16|1995|          45.9|
|Africa|Algeria| null|Algiers|    1| 17|1995|          44.5|
|Africa|Algeria| null|Algiers|    1| 18|1995|          50.7|
|Africa|Algeria| null|Algiers|    1| 19|1995|          54.0|
|Africa|Algeria| null|Algiers|    1| 20|1995|          52.6|
+------+-------+-----+-------+-----+---+----+--------------+
only showing top 20 rows

In [16]:
indian_temperature_df = temperature_df.withColumn("City", when(temperature_df.City == "Bombay (Mumbai)","Mumbai") \
      .when(temperature_df.City == "Chennai (Madras)","Chennai") \
      .otherwise(temperature_df.City))
indian_temperature_df.show()

+------+-------+-----+-------+-----+---+----+--------------+
|Region|Country|State|   City|Month|Day|Year|AvgTemperature|
+------+-------+-----+-------+-----+---+----+--------------+
|Africa|Algeria| null|Algiers|    1|  1|1995|          64.2|
|Africa|Algeria| null|Algiers|    1|  2|1995|          49.4|
|Africa|Algeria| null|Algiers|    1|  3|1995|          48.8|
|Africa|Algeria| null|Algiers|    1|  4|1995|          46.4|
|Africa|Algeria| null|Algiers|    1|  5|1995|          47.9|
|Africa|Algeria| null|Algiers|    1|  6|1995|          48.7|
|Africa|Algeria| null|Algiers|    1|  7|1995|          48.9|
|Africa|Algeria| null|Algiers|    1|  8|1995|          49.1|
|Africa|Algeria| null|Algiers|    1|  9|1995|          49.0|
|Africa|Algeria| null|Algiers|    1| 10|1995|          51.9|
|Africa|Algeria| null|Algiers|    1| 11|1995|          51.7|
|Africa|Algeria| null|Algiers|    1| 12|1995|          51.3|
|Africa|Algeria| null|Algiers|    1| 13|1995|          47.0|
|Africa|Algeria| null|Algiers|    1| 14|1995|          46.9|
|Africa|Algeria| null|Algiers|    1| 15|1995|          47.5|
|Africa|Algeria| null|Algiers|    1| 16|1995|          45.9|
|Africa|Algeria| null|Algiers|    1| 17|1995|          44.5|
|Africa|Algeria| null|Algiers|    1| 18|1995|          50.7|
|Africa|Algeria| null|Algiers|    1| 19|1995|          54.0|
|Africa|Algeria| null|Algiers|    1| 20|1995|          52.6|
+------+-------+-----+-------+-----+---+----+--------------+
only showing top 20 rows

In [18]:
temperature_df1 = indian_temperature_df.filter(temperature_df.Country =="India").show(truncate=False)

+------+-------+-----+------+-----+---+----+--------------+
|Region|Country|State|City  |Month|Day|Year|AvgTemperature|
+------+-------+-----+------+-----+---+----+--------------+
|Asia  |India  |null |Mumbai|1    |1  |1995|71.8          |
|Asia  |India  |null |Mumbai|1    |2  |1995|72.0          |
|Asia  |India  |null |Mumbai|1    |3  |1995|70.3          |
|Asia  |India  |null |Mumbai|1    |4  |1995|69.7          |
|Asia  |India  |null |Mumbai|1    |5  |1995|71.3          |
|Asia  |India  |null |Mumbai|1    |6  |1995|73.9          |
|Asia  |India  |null |Mumbai|1    |7  |1995|72.9          |
|Asia  |India  |null |Mumbai|1    |8  |1995|70.2          |
|Asia  |India  |null |Mumbai|1    |9  |1995|68.4          |
|Asia  |India  |null |Mumbai|1    |10 |1995|68.0          |
|Asia  |India  |null |Mumbai|1    |11 |1995|69.9          |
|Asia  |India  |null |Mumbai|1    |12 |1995|69.8          |
|Asia  |India  |null |Mumbai|1    |13 |1995|71.0          |
|Asia  |India  |null |Mumbai|1    |14 |1995|73.9          |
|Asia  |India  |null |Mumbai|1    |15 |1995|73.4          |
|Asia  |India  |null |Mumbai|1    |16 |1995|70.4          |
|Asia  |India  |null |Mumbai|1    |17 |1995|74.9          |
|Asia  |India  |null |Mumbai|1    |18 |1995|74.5          |
|Asia  |India  |null |Mumbai|1    |19 |1995|73.0          |
|Asia  |India  |null |Mumbai|1    |20 |1995|71.9          |
+------+-------+-----+------+-----+---+----+--------------+
only showing top 20 rows

In [ ]:
temperature_df1.withColumn("State", when(temperature_df1.City == "Bombay (Mumbai)","Maharastra") \
      .when(temperature_df1.City == "Chennai (Madras)","Tamil Nadu") \
      .when(temperature_df1.City == "Calcutta","West Bengal") \
      .when(temperature_df1.City == "Delhi","New Delhi") \
      .otherwise(temperature_df1.City))
temperature_df1.show()